<div class="d-flex justify-content-center m-2">
  <button class="btn btn-secondary" (click)="showDialogDemo()">
    Show all dialogs!
  </button>
  <button class="btn btn-dark" (click)="showDialog('show')">
    Show general dialog!
  </button>
  <button class="btn btn-light" (click)="showDialog('confirm')">
    Show confirm dialog!
  </button>
</div>
<div class="d-flex justify-content-center m-2">
  <button class="btn btn-success" (click)="showDialog('success')">
    Show success dialog!
  </button>
  <button class="btn btn-danger" (click)="showDialog('error')">
    Show error dialog!
  </button>
  <button class="btn btn-warning" (click)="showDialog('warning')">
    Show warning dialog!
  </button>
  <button class="btn btn-info" (click)="showDialog('info')">
    Show info dialog!
  </button>
</div>
<div class="d-flex justify-content-center m-2">
  <button class="btn btn-secondary" (click)="showToastDemo()">
    Show all toasts!
  </button>
</div>
<div class="d-flex justify-content-center m-2">
  <button class="btn btn-success" (click)="showToast('success')">
    Show success toast!
  </button>
  <button class="btn btn-danger" (click)="showToast('error')">
    Show error toast!
  </button>
  <button class="btn btn-warning" (click)="showToast('warning')">
    Show warning toast!
  </button>
  <button class="btn btn-info" (click)="showToast('info')">
    Show info toast!
  </button>
</div>
<div class="d-flex justify-content-center m-2">
  <button class="btn btn-dark" (click)="loading(true)">Start loading</button>
  <button class="btn btn-light" (click)="loading(false)">Stop loading</button>
  <button class="btn btn-light" (click)="shutdownSse()">Stop SSE</button>
</div>
